
<html>
    <style>
        body {
        background-image: url('https://www.teahub.io/photos/full/0-7459_background-books-wallpaper-hd.jpg');
        background-size: contain;
        }
    </style>

<body>
   <center>

   <h1>Based on your Ratings here are some Books Recommended for you</h1>

   </center>
   <h4>Horror: 8</h4><h4>Romance: 9</h4><h4>Thriller: 7</h4><h4>Non-Fiction: 5</h4>

<h2>List of Books Recommended : <h2>

    <h5>Harry Potter Collection (Harry Potter, #1-6)<h5>
    <h5>Clockwork Prince (The Infernal Devices)<h5>
    <h5>The Magician King (The Magicians)<h5>
    <h5>Fearless Fourteen (Stephanie Plum<h5>
    <h5>Twelve Sharp (Stephanie Plum)<h5>
    <h5>Seven Up (Stephanie Plum)<h5>
    <h5>Interview with the Vampire<h5>
    <h5>Girl with a Pearl Earring<h5>
    <h5>Jurassic Park<h5>
    <h5>Snow Falling on Cedars<h5>
    <h5>Fahrenheit 451<h5>
    <h5>Good in Bed<h5>
    <h5>To Kill a Mockingbird<h5>
    <h5>Bridgit Jones's Diary<h5>